<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/style.css" rel="stylesheet">
    <title>Harmony Bloom</title>
</head>
<body>
    <div class="header">
        <nav>
            <div class="logo text">Harmony Bloom</div>
            <ul>
                <li><a href="/" class="text">Home</a></li>
                <li><a href="/about" class="text">About Us</a></li>
                <li><a href="/help" class="text">Help</a></li>
                <li><div class="text">My Acount</div></li>
            </ul>
        </nav>
    </div>
    <style>
        .about{
            text-align: center;
            justify-content: center;
            width: 800px;
            margin-bottom: 50px;
            color: white;
        }
        .paragraphTitle{
            text-align: center;
            justify-content: center;
            width: 800px;
            color: white;
            margin-bottom: 50px;
        }
        .textContainer{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 50px;
           
        }
        
    </style>
    <div class="textContainer">
        <h1 class="paragraphTitle"> Welcome to Harmony Bloom: Your Personal Path to Period Harmony</h1>
        <p class="about">
            Embrace the beauty of your unique rhythm with Harmony Bloom, a groundbreaking period control app meticulously crafted by a passionate solo developer—me! At Harmony Bloom, we understand that every woman's journey through her menstrual cycle is distinctive, and we celebrate this diversity. Our mission is to empower you with knowledge, insights, and control over your menstrual health, fostering harmony and understanding between you and your body.
        </p>
        <h2 class="paragraphTitle">A Solo Endeavor, A Personal Touch</h2>
        <p class="about">
            Developed with passion and dedication by a solo developer (yes, that’s me!), Harmony Bloom is a labor of love. I embarked on this journey to create an app that respects the individuality of every woman's menstrual cycle. This personal touch ensures that every feature is designed with care, attention, and your specific needs in mind. As a user, you're not just a statistic; you're a valued part of our community.
        </p>
        <h2 class="paragraphTitle">Your Data, Your Privacy</h2>
        <p class="about">
            We respect your privacy and the sensitivity of the information you entrust to us. Rest assured that all the data you enter into Harmony Bloom is treated with the utmost confidentiality. Your trust means everything to us, and we want you to feel secure knowing that your data will never be used for any purpose other than to provide you with more accurate and personalized insights. Your journey with Harmony Bloom is not just secure; it’s truly yours.
        </p>
        <h2 class="paragraphTitle">Join the Harmony Bloom Community</h2>
        <p class="about">
            Embark on a harmonious journey through your menstrual cycle. Let Harmony Bloom be your guide, your confidant, and your partner in understanding your body better than ever before. Together, let’s celebrate the beauty of your individuality, empowering you to embrace every phase of your cycle with confidence and grace.    
        </p>
        <h1>  Welcome to Harmony Bloom—where your period finds its harmony, and you find your power.</h1>
    
    
    </div>

    <div class="footer" style="margin-top: 100px;">
        <h1>By Mateo Valencia</h1>
        <div style="display: flex;">
            <a href="https://github.com/balserDev" style="text-decoration: none; margin-right: 30px;">
                <ul style="list-style: none; align-items: center; display: flex; flex-direction: column;">
                    <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/GitHub_Invertocat_Logo.svg/200px-GitHub_Invertocat_Logo.svg.png" style="width: 80px; height: 80px; filter: invert(30%); mix-blend-mode: multiply;"></li>
                    <li><h1>BalserDev</h1></li>
                </ul>
            </a>
            <a href="https://www.linkedin.com/in/mateo-valencia-otalvaro-3207b2222/" style="text-decoration: none;">
                <ul style="list-style: none; align-items: center; display: flex; flex-direction: column;">
                    <li><img src="https://pbs.twimg.com/profile_images/1661161645857710081/6WtDIesg_400x400.png" style="width: 80px; height: 80px; filter: grayscale(100%); mix-blend-mode: multiply;"></li>
                    <li><h1>Mateo Valencia Otalvaro</h1></li>
                </ul>
            </a>
        </div>
        
        
    </div>
    
  
</body>
</html>