*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    
}

h1{
    text-shadow: 1px 1px 2px rgb(53, 53, 53);
    color: white;
}

body{
    margin: 0;
    background-color: #FFD1DC ;
    background: linear-gradient(45deg,	#f6c492,#ff6666, #ff8484, #f6c492);
    background-attachment: fixed;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;

}

footer{
    height: 50vh;
    width: 100%;
    background-color: rgb(158, 77, 77);
}

.basebutton{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    color: #BB4F4F;
    transition-duration: 0.5s;
    text-align: center;
    line-height: 50px;
}
.basebutton:hover{
    width: 120px;
    height: 70px;
    line-height: 70px;
}

#log{
    margin-top: 20px;
}

#calendars{
    display: flex;
    align-items: center;
}

#calendars li{
    display: inline-block;
    list-style: none;
    transition-duration: 2s;
}

#enter{
    width: 100px;
    transform: translate(200px, 0);
    background-color: #BB4F4F;
    border: none;
    border-radius: 10px;
    color: white;
}

#welcome{
    color: #e06b6b;
    /* text-shadow: 0 0 3px #BB4F4F; */
}

#error{
    color: red;
    font-size: 30px;
}



.text{
    color: white;
}

.header{
    background-color: #FFB6C1;
    background-color: #BB4F4F;
    /* box-shadow: 0px 10px 50px #FFB6C1 ; */
    height: 10%;
    width: 100%;
    padding: 0 0;
}

.logo{
    margin-left: 20px;
}



.CalendarContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-top: 50px;
  
}

.calendar{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(7, 1fr);
    background-color: white;
    box-shadow: 0px 0px 50px #FFB6C1;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    height: 40vh;
    width: 55vh;
    font-size: 1rem;
    transition-property: height, width;
    transition-duration: 0.5s;
}
.calendar:hover{
    height: 45vh;
    width: 60vh;
}

.day{
    display: flex;
    height: 50%;
    width: 50%;
    background-color: #FFB6C1;
    border-radius: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
    transition-property: height, width;
    transition-duration: 0.2s;
}

.day:hover{
    height: 80%;
    width: 80%;
}
.monthName{
    text-align: center;
    font-size: 50px;
    color: rgb(36, 36, 36);
    color: white;
}

.side{
    height: 25vh;
    width: 35vh;
    font-size: 0.5rem;
    opacity: 0.5;
    
}
.side_left{

    transform: translate(-600px, 0);
}
.side_right{
    transform: translate(600px, 0);
    
}

.sideText{
    font-size: 10px;
    opacity: 0.5;
}

.selector{
    position: absolute;
    display: flex;
    flex-direction: column;
    transition-property: transform;
    transition-duration: 0.5s;
    
}

.curve{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.curve svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 299px;
}

.curve .shape-fill {
    fill: #BB4F4F;
}

.title{
    margin-top: 50px;
    text-align: center;
}

.carousel .carousel-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    
    
}

.loginContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    background-color: white;
    border-radius: 10px;
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    box-shadow: 0 0 10px white ;

}

.nonStyleForm{
    display: inline-flex;
    flex-direction: column;
}

.loginForm input{
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.selected{
    background-color:#BB4F4F;
}

.graphContainer{
    width: 1000px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 50px;
}

.bar{
    fill: #BB4F4F;
}

.intersection{
    fill: none;
    stroke: #6b3131;
    stroke-width: 5;
}

.next{
    background-color: rgb(250, 158, 83);
    color: white;
}

.graphics{
    background-color: #6b3131;
}

